header {
  height: 20px;
  padding: 1rem;
  color: white;
  background: #0a67b2;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.GroupListItem .groupProBtn {
  text-align: center;
  margin: 10px;
  padding: 1rem 1rem;
  background-color: #0a67b2;
  color :aliceblue;
  border-radius : 10px;
  border : 0;
  font-weight: bold;
  width: 20%;
}
.groupProBtn {
  text-align: center;
  margin: 10px;
  padding: 1rem 1rem;
  background-color: #0a67b2;
  color :aliceblue;
  border-radius : 10px;
  border : 0;
  font-weight: bold;
  width: 20%;
}

.GroupListItem .groupText {
  margin: 10px;
  padding: 0.5rem;
  background-color: #0a67b2;
  color :aliceblue;
  border-radius : 10px;
  border : 0;
  font-weight: bold;
  width: 40%;
}
.groupText {
  margin: 10px;
  padding: 0.5rem;
  background-color: #0a67b2;
  color :aliceblue;
  border-radius : 10px;
  border : 0;
  font-weight: bold;
  width: 500px;
}

.groupText input {
  padding: 0.5rem;
  background-color:aliceblue;
  color :black;
  border-radius : 10px;
  border : 0;
  font-weight: bold;
  width: 75%;
}

.groupText button {
  margin-left: 7%;
  background-color:#0a67b2;
  color :white;
  border : 0;
  font-weight: bold;
}

.Item {
  border: 1px solid #0a67b2;
  padding: 10px;
  width: 500px;
  float: left;
  border-radius: 10px;
  margin: 10px;
}

.Item .context {
  background: #0a67b2;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}